<ul>
    <% tasks.each do |task| %>
    <li>
   
        <div>
            <div>
            <span>Post at <%= task.created_at %></span>
            </div>
        <div>
        <p><%= task.content %></p>
        </div>
        </div>
    </li>
    <% end %>
    <%= paginate tasks %>
</ul>